* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(90deg, #0064f8, #92ffc2);
}

span {
  display:inline-block;
}
